body {
  background: #f4f5f7;
}

.markdown-body {
  background: #fff;
  box-shadow: 0px 2px 8px 0px #797979;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 980px;
  min-width: 200px;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #253858;
  }

  .markdown-body {
    background: #1d2125;
    box-shadow: 0px 2px 8px 0px #000000;
  }
}
